# dependencies
**/node_modules/
# build
**/public/

# Local
local*
.idea/
.vscode/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
.DS_Store
package-lock.json
venv
*.log
*-debug
