.blue_btn {
    font-size: 13px;
    padding: 8px;
    height: 35px;
    color: #FFFFFF;
    background: #005FF9;
    flex: 0 0 auto;
    border: none;

    background: #005FF9;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    cursor: pointer;
    font-weight: 600;
}

.blue_btn:hover:not(:disabled) {
    background: #1021f9;
}

.grey_btn:active:not(:disabled), .red_btn:active:not(:disabled), .blue_btn:active:not(:disabled) {
    transform: translateY(2px);
}

.grey_btn, .red_btn {
    font-size: 13px;
    color: #FFFFFF;

    border: none;
    margin: 0;
    padding: 10px;

    cursor: pointer;
    font-weight: 600;
    background: #939393;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    transition: background 0.3s ease;
}

.grey_btn {
    margin-right: 10px;
}

.grey_btn:hover:not(:disabled) {
    background: #828282;
}

.red_btn img, .grey_btn img {
    height: 14px;
    margin-right: 5px;
}

.red_btn {
    background: #FF4646;
    border-radius: 15px;
}

.red_btn:hover:not(:disabled) {
    background: #ff1240;
}

.blue_btn:disabled, .grey_btn:disabled, .red_btn:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}