button:focus {
    outline: none;
}

button {
    touch-action: manipulation;
    -webkit-appearance: none;
}

.top_btn {
    height: 35px;
    padding: 8px;

    font-size: 13px;
    font-weight: 600;

    color: #FFFFFF;
    background: #f22bf9;

    border: none;
    border-radius: 7px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);

    cursor: pointer;
    transition: background 0.3s ease;
}

.ep_btn {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0;
    padding: 10px;

    font-size: 13px;
    font-weight: 600;

    color: #FFFFFF;
    background: #f22bf9;

    border: none;
    border-radius: 15px;

    cursor: pointer;
    transition: background 0.3s ease;
}

.standard_btn {
    display: block;
    height: 40px;
    width: 300px;

    font-weight: bold;
    font-size: 14px;

    color: #fff;
    border: none;
    border-radius: 12px;
    box-shadow: none;

    cursor: pointer;
}

.top_btn:disabled, .ep_btn:disabled, .standard_btn:disabled {
    cursor: not-allowed;
    opacity: 0.4;
}

.top_btn:active:not(:disabled), .ep_btn:active:not(:disabled), .standard_btn:active:not(:disabled) {
    transform: translateY(2px);
}

.ep_btn img {
    height: 14px;
    margin-right: 5px;
}

.grey_bg {
    background: #939393;
}

.grey_bg:hover:not(:disabled) {
    background: #828282;
}

.red_bg {
    background: #FF4646;
}

.red_bg:hover:not(:disabled) {
    background: #ff1240;
}

.blue_bg {
    background: #005FF9;
}

.blue_bg:hover:not(:disabled) {
    background: #1021f9;
}