.note {
    display: inline-block;
    margin: 0 10px;
}

.note:first-child {
    margin-left: 0;
}

.note:last-child {
    margin-right: 0;
}

.note .light-blue {
    display:inline-block;
    width: 30px;
    height: 7px;
    background: #D7EEF3;
    border-radius: 7px;
}

.note .blue {
    display:inline-block;
    width: 30px;
    height: 7px;
    background: #86CCFF;
    border-radius: 7px;
}

.notes {
    font-size: 12px;
    color: #ababab;
    font-style: italic;
    font-weight: 400;
}

.lec {
    background: #EAFFC9;
}

.sem {
    background: #F7DFFF;
}

.rk {
    background: #FFE8AC;
}

.ex {
    background: #C2DEFF;
}

.hw_s {
    background: #D7EEF3;
}

.hw_e {
     background: #86CCFF;
}

.lec, .sem, .rk, .ex, .hw_s, .hw_e {
    padding: 2px 10px;
    border-radius: 7px;

    font-size: 14px;
    font-weight: 400;
    color: #323232;

    white-space: nowrap;
    overflow: hidden;
    width: max-content;
    margin: auto;

    /*overflow-wrap: break-word;*/
    text-overflow: ellipsis;
    max-width: 300px;
    box-sizing: border-box;
}

.hw {
    display: inline-block;
    margin: 4px 4px 4px 0;
}