.edit_panel {
    position: fixed;
    bottom: 0;
    left: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;

    width: auto;
    padding: 10px;

    background: #191933;
    border-radius: 20px 20px 0 0;
    white-space: nowrap;

    transform: translateX(-50%);
    animation: upAnimationEP .3s 1 ease-in-out;
}

.edit_panel .grey_bg {
    margin-right: 10px;
}

@media (max-width: 750px) {
    .ep_btn {
        font-size: 0;
    }

    .ep_btn img {
        margin-left: 10px;
        margin-right: 10px;
    }
}