@keyframes upAnimation {
    from {
        opacity: 0;
        transform: translate(-50%, 100%); }
    to {
        opacity: 1;
        transform: translate(-50%, 0%); }
}


.edit_panel {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    animation: upAnimation .3s 1 ease-in-out;

    background: #191933;
    border-radius: 20px 20px 0 0;
    white-space: nowrap;

    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width: 750px) {
    .red_btn {
        font-size: 0;
    }

    .grey_btn {
        font-size: 0;
    }

    .red_btn img, .grey_btn img {
        margin-left: 10px;
        margin-right: 10px;
    }
}