@import 'variables'

.page
    max-width: 980px
    margin: 40px auto 40px auto
    padding: 2px

    background: $color-grey-light
    border-radius: 9px

.page_content
    min-height: 600px
    padding: 10px

    background: $color-white
    border-radius: 9px
