.page {
    padding: 2px;
    background: #EFEFEF;
    max-width: 980px;
    margin: auto;
    margin-top: 40px;
    border-radius: 9px;
}

.page_content {
    min-height: 600px;
    background: white;
    border-radius: 9px;
    padding: 10px;
}

.top_block {
    display: flex;
    flex-direction: row;
    align-items: center;
}