h1 {
    margin-top: 25px;
    font-size: 12px;
    color: #ababab;
    font-style: italic;
    font-weight: 400;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout:fixed;
}

th {
    font-size: 14px;
    font-weight: 600;
    padding: 13px;
    text-align: center;
    background-color: #f2f2f2;
    color: #323232;
}

td {
    font-size: 14px;
    font-weight: 400;
    padding: 13px;
    text-align: center;
    color: #323232;
}

table tr:not(.checked):nth-child(odd){
    background: #f8f8f8;
}

table tr .checked {
    border-color: #000742;
    background: #e0e0e0;
}

table tr {
    -webkit-transition: background .3s, border-color .3s;
    transition: background .3s, border-color .3s;
    border-color: white;
    border-left: 3px solid white;
}

table th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

table td img {
    width: 18px;
}

span.yellow {
    background: yellow;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
    table td input[type='checkbox']:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 9px;
        border: 2px solid #fff;
        border-top: 0;
        border-left: 0;
        left: 6px;
        top: 3px;
        -webkit-transform: rotate(43deg);
        transform: rotate(43deg);
    }

    table th input[type='checkbox']:after {
        content: '';
        position: absolute;
        width: 10px;
        border-top: 3px solid #fff;

        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    table th input[type='checkbox'], table td input[type='checkbox'] {
        vertical-align: middle;
    }
}